<h1>List of all restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li> <strong><%=  link_to "#{restaurant.name}", restaurant_path(restaurant) %></strong> |  <%= restaurant.category %> | <%= restaurant.address %> </li>
  <% end %>
</ul>

<%= link_to "Add a restaurant", new_restaurant_path %>
